*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility !important;
}

:root {
  --lightgreen-full: #dedfc3;
  --purple-full: #6426ef;
  --black-full: #2a2a2a;
  --white-full: #ffffff;
}

/* Fonts */
@font-face {
  font-family: 'Till-Normal';
  src: url('fonts/Till-Normal.woff') format('woff'), url('fonts/Till-Normal.woff2') format('woff2');
}

@font-face {
  font-family: 'RimaRegular';
  src: url('fonts/Rima-Regular.woff') format('woff'),
    url('fonts/Rima-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'RimaRegularitalic';
  src: url('fonts/Rima-RegularItalic.woff') format('woff'),
    url('fonts/Rima-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'RimaMedium';
  src: url('fonts/Rima-Medium.woff') format('woff'),
    url('fonts/Rima-Medium.woff2') format('woff2');
}

body,
html {
  background-color: var(--lightgreen-full);
  overflow-x: hidden;
}

.landingpage{
  height: 100vh;
  position: relative;
  background-position: blue;
}
/* heart shape */
.shape {
  fill: none;
  /* stroke: white; */
}

#heart {
  width: 90vmin;
  height: auto;
  object-fit: contain;
  /* overflow: hidden; */
}

#textPath {
  /* The font-size is really hacky, sorry :( */
  font-family: 'Till-Normal';
  --sizefactor: 1.112;
  font-size: calc(1em * var(--sizefactor));
  letter-spacing: calc(1em * var(--sizefactor));
  fill: var(--purple-full);
  font-weight: 800
}

.container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* background-color: palevioletred; */
}

/* 2 heart shape */
.shape1 {
  fill: none;

  /* stroke: white; */
}

#hearttwo {
  width: 90vmin;
  height: auto;
  object-fit: none;
  /* overflow: hidden; */
}

#textPathB {
  /* The font-size is really hacky, sorry :( */
  font-family: 'Till-Normal';
  --sizefactor: 1.112;
  font-size: calc(1em * var(--sizefactor));
  letter-spacing: calc(1em * var(--sizefactor));
  fill: var(--purple-full);
  font-weight: 800
}

.container2 {
  margin-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* until here heart shape */
div.indent {
  text-indent: 5%;
}

.headliniecenter {
  text-align: center;
}

.title {
  padding-top: 20px;
  font-family: 'RimaRegular';
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21.5px;
  background-color: var(--lightgreen-full);
  box-shadow: inset 0px 1px 2px var(--black-full);
  border-radius: 25px;
  /*  margin-top:10px;*/
  margin-top: 5px;
  margin-right: 5vw;
  height: 100%;
}


.title1 {
  padding-top: 20px;
  font-family: 'RimaRegular';
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21.5px;
  background-color: var(--black-full);
  box-shadow: inset 0px 1px 2px var(--white-full);
  border-radius: 25px;
  /*  margin-top:10px;*/
  margin-top: 5px;
  margin-right: 5vw;
  height: 100%;
}

.paragraph {
  margin-right: 10vw;
}

.figuretext p {
  margin-left: 40px;
  font-family: 'RimaRegular';
  font-weight: 100;
  text-align: center;
  font-style: normal;
  font-size: 11px;
  color: var(--purple-full);
  line-height: -50px;
}

.footnotes p {
  margin-left: 40px;
  font-family: 'RimaRegular';
  font-weight: 100;
  font-style: normal;
  margin-right: 10vw;
  font-size: 10px;
  display: inline;
  color: var(--black-full);
  text-indent: 0px;
  line-height: -50px;
}

.footnotes {
  margin-right: 0vw;
  height: 100%;
  margin-left: 20px;
  text-indent: -40px;
}

u {
  color: var(--purple-full);
}

.paragraph sup {
  font-family: 'RimaRegular';
  font-weight: 100;
  font-style: normal;
  font-size: 10px;
  color: var(--purple-full);
  margin-bottom: -3px;
  line-height: 10px !important;
}

.by {
  margin-left: 10px;
  margin-top: 10px;
  /* text-indent: 30px; */
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17.5px;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  /*  text-align: justify;*/
  text-justify: inter-word;
  overflow-wrap: break-word;
  color: var(--purple-full);
}

table {
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 15.5px;
  border-collapse: collapse;
  box-shadow: inset 0px 1px 2px var(--black-full);
  border-radius: 25px;
  table-layout: fixed;
  width: 100%;
  margin-left: 20px;
  background-color: var(--lightgreen-full);
}

td, tr {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid var(--black-full);
}

.figure {
  /*  margin-left:30px;*/
  margin-left: 20px;
  /* text-indent: 30px; */
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 15.5px;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  /*  text-align: justify;*/
  text-justify: inter-word;
  overflow-wrap: break-word;
  color: var(--purple-full);
  text-align: right;
}

.paragraph_1 p {
  /*  margin-left:30px;*/
  margin-left: 20px;
  /* text-indent: 30px; */
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20.5px;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  /*  text-align: justify;*/
  text-justify: inter-word;
  overflow-wrap: break-word;
  color: var(--lightgreen-full);
}

.imagesanalyse {
  width: 100%;
  height: 100%;
  margin-left: 6%;
  padding-right: 3%;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  text-justify: inter-word;
  overflow-wrap: break-word;
  box-shadow: inset 0px 1px 2px var(--black-full);
  background-color: var(--lightgreen-full);
  border-radius: 25px
}
.imagesanalyse p{
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  line-height: 20.5px;
  padding-left: 0%

}


p {
  /*  margin-left:30px;*/
  margin-left: 20px;
  /* text-indent: 30px; */
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20.5px;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  /*  text-align: justify;*/
  text-justify: inter-word;
  overflow-wrap: break-word;
  color: var(--black-full);
}

h5 {
  font-family: 'Till-Normal';
  font-weight: 900;
  font-style: normal;
  display: flex;
  font-size: 56px;
  -webkit-font-smoothing: antialiased;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  background-color: var(--lightgreen-full);
}

h1 {
  font-family: 'Till-Normal';
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: var(--purple-full);
}



/* .title1 h2{
  font-family: 'RimaRegular';
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-top: 5px;
  text-align: center;
  color: var(--lightgreen-full);

} */
h2 {
  font-family: 'RimaRegularitalic';
  font-weight: 400;
  font-size: 15px;
  line-height: 20.5px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  text-align: center;
  color: var(--black-full);
}


.paragraph h2 {
  font-family: 'RimaMedium';
  font-weight: 400;
  font-size: 17px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-top: 5px;
  text-align: center;
  color: var(--purple-full);
  margin-left: 10%;
}

i {
  font-family: 'RimaRegularitalic';
}

a {
  font-family: 'RimaRegular';
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
}

.responsive {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-left: 20px;
  box-shadow: inset 0px 1px 2px var(--white-full);
  border-radius: 25px;
  background-color: var(--black-full);
}

.responsive_1 {
  width: 100%;
  margin-left: 5.5%;
  padding: 5%;
  height: auto;
  box-shadow: inset 0px 1px 2px var(--black-full);
  border-radius: 25px;
  background-color: var(--lightgreen-full);
}

.responsive_2 {
  width: 100%;
  margin-left: 5.5%;
  padding: 5%;
  height: auto;
  border-radius: 35px;

}
.responsive_image {
  width: 100%;
  margin-left: 1.5%;
  padding: 5%;
  height: auto;
  border-radius: 25px;

}

.responsive_3 {
  width: 100%;
  margin-left: 5.5%;
  padding: 5%;
  height: auto;
  box-shadow: inset 0px 1px 2px var(--black-full);
  border-radius: 25px;
  background-color: var(--white-full);
}

img {
  border-radius: 25px;
  width: 100%;
  margin-left: 5.5%;
  padding: 5%;
}

/* old heart shape */
/* svg {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

section {
  height: 500px;
  font-family: 'Till-Normal', sans-serif;
  font-style: normal;
  font-size: 5px;
  font-weight: normal;
}

textPath{
  fill: var(--purple-full);
}
textPathB{
  fill: var(--purple-full);
} */
/* until old heart shape */
@media only screen and (orientation:landscape) {
  .container {
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

/* SlideToggle */
#Mother_click {
  height: 100%;
  margin-left: 0vw;
  /* margin-top: 10px; */
}


#Mother_text {
  display: none;
  margin-top: 0px;
}

#Abstract_click {
  height: 100%;
  margin-left: 0vw;
  /* margin-top: 10px; */
}

#Abstract_text {
  display: none;
  margin-top: 0px;
}

#Introduction_click {
  height: 100%;
  margin-left: 0vw;
  margin-top: 10px;
}

#Introduction_text {
  display: none;
  margin-top: 0px;
}

#Overview_click {
  height: 100%;
  margin-left: 0vw;
  margin-top: 10px;
}

#Overview_text {
  display: none;
  margin-top: 0px;
}

#Governmental_click {
  height: 100%;
  margin-left: 0vw;
  margin-top: 10px;
}

#Governmental_text {
  display: none;
  margin-top: 0px;
}

#Sociocultural_click {
  height: 100%;
  margin-left: 0vw;
  margin-top: 10px;
}

#Sociocultural_text {
  display: none;
  margin-top: 0px;
}

#Conclusion_click {
  height: 100%;
  margin-left: 0vw;
  margin-top: 10px;
}

#Conclusion_text {
  display: none;
  margin-top: 0px;
}

#Biography_click {
  height: 100%;
  margin-left: 0vw;
  margin-top: 10px;
}

#Biography_text {
  display: none;
  margin-top: 0px;
}

/* until here SlideToggle */
.container {
  padding-top: 150px;
  padding-left: 00px;
  padding-bottom: 55px;
  box-sizing: border-box;
  width: 99%;
  height: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  cursor: pointer;
}

/* Audio section */

.sang p{
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-family: 'RimaRegular';
  font-size: 0.7em;
  margin-left: 20px;
  text-align: center;
  color: var(--purple-full);
}


/* .box {
  background: var(--green);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 36px;
} */

.btn {
  background-color: var(--purple-full);
  border-radius: 25px;
  border: none;
  color: #fff;
  margin-left: 13%;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  opacity: 0.8;


}

.btn:hover {
  opacity: 0.6;
}

.btn:focus {
  outline: none;
}
